@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.conteudoPrincipal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: url(../../assets/images/imagemPerfilUsuario/fundoOculos.png)
    no-repeat center;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.seccaoSideBar {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100%;
  width: 10%;
}

.seccaoConteudo {
  height: 80%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.containerInfoUsu {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 90%;
  background-color: #59d1f6;
  border: 1px solid #2b616d;
  color: #2b616d;
  padding: 25px;
  border-radius: 40px;
  align-items: center;
  justify-content: space-evenly;
}

.containerInfoUsu h2 {
  text-align: center;
}

.containerInfoUsu label {
  font-size: 20px;
  font-weight: 600;
}

.containerInfoUsu input{
  height: 2em;
  text-align: center;
  border-radius: 40px;
  padding: 10px;
  box-shadow: 7px -7px 0px 1px #00000078;
}

.containerInfoUsu input::placeholder{
  color: rgba(0, 0, 0, 0.568);
  font-weight: bold;
}
