@charset "UTF-8";

.corpoPrincipal{
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.imgLogo{
    width: 80%;
}

.seccaoForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;


    width: 50%;
    height: 100%;
    background-color: #A7E8FC;
    border-radius: 0em 5em 5em 0em;
}

.tituloCadastro{
    margin-top: 50px;
}

.forms{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    width: 90%;
    height: 80%;
    border-radius: 30px;
}

.forms label{
    display: block;
    font-size: 23px;
    font-weight: 500;
    width: 60%;
    text-align: left;
}

.forms input{
    width: 75%;
    height: 2.5em;
    border-radius: 30px;
    padding: 5px 20px;
    text-align: left;
}

.forms input::placeholder{
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    color: rgba(0, 0, 0, 0.371);
    font-weight: 500;
}

.forms p{
    margin: 10px 10% 10px 0px;
    text-align: end;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
}

.linkLogin{
    text-decoration: none;
    color: #1d90aa;
}

.linkLogin:hover{
    color: #0c4653;
    text-decoration: underline;
}

.linkCadastroKid{
    font-weight: 600;
    text-decoration: none;
    width: 80%;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    color: #59d1f6;
}

.linkCadastroKid:hover{
    color: #0c4653;
    background-color: #1d90aa;
    transform: translateY(-5px);

    transition: 0.5s ease-in-out;
}

.seccaoImg{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;
}

@media (max-width:400px){
    .seccaoImg{
        width: 45%;
    }

    .seccaoForm{
        width: 55%;
    }

    .seccaoForm p {
        font-size: 17px;
        text-align: center;
        margin: 10px;
        padding: 1px;
    }
}